    body {
      font-family: Rubik, sans-serif;
      font-weight: 400;
      font-size: 11px !important;
    }

    label{
      font-weight: 500 !important;
    }

    /* Modifikasi Popup Sweet Alert */
    .swal-lg {
        width: 1000px !important;
    }

    @media (max-width: 1000px) {
      .swal-lg {
        width: 100%;
      }
    }

    /* Modifikasi Sidabar menu */
    .main-sidebar:hover {
        z-index: 1029;
    }

    .main-sidebar {
        width: 270px;
    }

    .main-header .navbar {
        margin-left: 270px;
    }

    .main-header .logo {
        width: 270px;
    }

    .content-wrapper,
    .main-footer {
        margin-left: 270px;
    }

    .sidebar-menu,
    .main-sidebar .user-panel,
    .sidebar-menu>li.header {
        white-space: normal;
    }

    .sidebar-menu>li>a {
        padding: 10px 5px 10px 15px;
    }

    .sidebar-menu li>a>.pull-right-container {
        margin-top: -7px;
    }

    .sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>a>span {
        padding: 14px 5px 12px 20px;
    }

    .sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>a>.pull-right-container {
        width: auto !important;
        left: 210px !important;
        top: -15px !important;
    }

    .sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>a>span:not(.pull-right),
    .sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>.treeview-menu {
        width: 210px;
    }

     @media (max-width:767px) {
            .main-sidebar {
                -webkit-transform: translate(-270px, 0);
                -ms-transform: translate(-270px, 0);
                -o-transform: translate(-270px, 0);
                transform: translate(-270px, 0);
            }
            .main-header .logo,
            .main-header .navbar {
                width: 100%;
            }
            .main-header .navbar {
                margin: 0;
            }
            .content-wrapper,
            .main-footer {
                margin-left: 0;
            }
        }

    /* Modifikasi Header DataTables--- */
    .table-bordered>thead>tr>th,
    .table-bordered>thead>tr>td {
        vertical-align: middle;
        font-size: 10px;
    }

    table.table-bordered.dataTable th:last-child,
    table.table-bordered.dataTable th:last-child,
    table.table-bordered.dataTable td:last-child,
    table.table-bordered.dataTable td:last-child {
        border-right-width: 1px;
    }

    .table-bordered>thead>tr>th,
    .table-bordered>thead>tr>td {
        border-bottom-width: 0px;
    }

    th.padat,
    td.padat {
        width: 1%;
        white-space: nowrap;
        text-align: center;
    }

    td.aksi {
        width: 1%;
        white-space: nowrap;
        text-align: left;
    }

    .tabel-daftar>thead>tr>th {
        white-space: nowrap;
        font-weight: 500;
    }

    td.nostretch,
    th.nostretch {
        width: 1%;
        white-space: nowrap;
    }

    .fa {
      width: 13px;
    }

    .pagination {
      font-size: 10px;
    }

    .input-cari {
      height: auto;
      padding: 5px 7px;
      font-size: 10px;
      line-height: 1;
      border-radius: 2px;
    } 

    .filter-penduduk{
      display: flex;
    }

    /* css select2 yang digunakan */
    .select-filter {
      height: auto;
      width: auto;
      margin-right: 5px;
      padding: 5px;
      font-size: 10px;
      line-height: 1.5;
      border-radius: 2px;
      border-color: #d2d6de;
    } 

    .select-filter2 {
      height: auto;
      margin-right: 5px;
      padding: 5px;
      font-size: 10px;
      line-height: 1.5;
      border-radius: 2px;
      border-color: #d2d6de;
    } 

    .btn-sm {
      font-size: 10px !important;
    }

    .btn-social.btn-sm>:first-child {
      line-height: 25px;
      width: 28px;
      font-size: 1.4em;
    }

    .input-sm {
        height: 25px;
        padding: 12px;
        font-size: 11px;
        line-height: 1.5;
        border-radius: 2px;
    }

    .tx-judul {
      font-size: 16px !important;
      font-weight: bold;
    }

    .breadcrumb li{
      font-size: 11px !important;
    }

    .nav-stacked>li.active>a, .nav-stacked>li.active>a:hover {
      background: #3c8dbc;
      color: #fff;
      border-top: 0;
      border-left-color: #3c8dbc;
    }

    .select2-container--default .select2-selection--single {
      background-color: #fff;
      border: 1px solid #ccc;
      height: 25px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
      line-height: 20px !important;
    }

    .select2-container .select2-selection--single .select2-selection__rendered {
      display: block;
      overflow: hidden;
      padding-left: 0;
      padding-right: 20px;
      text-overflow: ellipsis;
    }

    .control-sidebar.control-sidebar-open {
      right: 0;
      width: 25%;
    }

    /* Modifikasi template AdminLTE: menambah scrollbar pada bagian sidebar menu*/
    .slimScrollBar {
        background-color: white !important;
        opacity: 0.3 !important;
        width: 6px !important;
    }

    @media (max-width: 768px){
      .control-sidebar.control-sidebar-open {
        width: 100%;
      }
    }

    .table-min-height {
    min-height: 350px;
    }

    /* Foto Penduduk Kecil (Mini) */

   .table-penduduk .foto_penduduk {
        width: auto;
        max-width: 30px;
        height: auto;
        border-radius: 10%;
    }

    @media (max-width: 780px){
      .btn-group-vertical {
        display: block;
      }
    }

    @media (min-width: 768px) {
      .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
      }
    }

    .img-penduduk {
      width: auto;
      max-height: 250px;
      max-width: 200px;
      border-radius: 15px;
      display: block;
      margin: 0 auto;
      padding: 2px;
      border: 2px solid #d2d6de;
   }

   .subtitle_head {
    padding: 10px 50px 10px 5px;
    background-color: #a2f2ef;
    margin: 15px 0px 10px 0px;
    text-align: left;
    color: #111;
  }

  .form-group {
    margin-bottom: 10px;
  }

  .parsley-errors-list{
    font-size: 10px;
  }

  .error-input-label{
    color: #dc3545;
  }

  .help-block{
    color: #dc3545 !important;
  }

  .alert-icon img{
    width: 13px;
    cursor: pointer;
  }

  .show-info-paspor{
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid red;
    padding: 10px;
    border-radius: 25px;
  }

  .modal-deskripsi{
    font-size: 14px;
    text-align: center;
    padding: 10px 10px 10px 5px;
    color: #111;
  }

  /* Pagination Custom and showing */
  .table-penduduk .dataTables_paginate {
    margin-top: 30px !important;
    position: absolute;
    right: 0;
    margin-right : 10px !important;
  }

  .table-penduduk .dataTables_length {
    margin-top: 30px !important;
    position: absolute;
    left: 0;
    margin-left : 11px !important;
  }

  /* custom lenght, search, pagination dataTables */
  div.dataTables_wrapper div.dataTables_length select 
  {
    height: auto;
    padding: 4px;
    font-size: 10px;
    line-height: 1.1;
    border-radius: 2px;
    border-color: #d2d6de;
 }

 div.dataTables_wrapper div.dataTables_filter input {
    height: auto;
    padding: 5px;
    font-size: 10px;
    line-height: 1.1;
    border-radius: 2px;
    border-color: #d2d6de;
}

 .pagination>li>a, .pagination>li>span {
    height: auto;
    padding: 8px;
    font-size: 10px;
    line-height: 1.2;
}

  /* button style */
  .btn-group-sm>.btn, .btn-sm {
    line-height: 1.1;
  }

  .btn-social.btn-sm> :first-child {
    line-height: 21px;
    width: 28px;
    font-size: 1.4em;
  }

  /* input group */
  .input-group-sm>.form-control, .input-group-sm>.input-group-addon, .input-group-sm>.input-group-btn>.btn {
    height: 25px;
    padding: 5px 10px;
    font-size: 11px;
    line-height: 1.2;
  }

  /* modifikasi css has error */
  .form-group.has-error label {
    color: #dd4b39;
    font-size: 10px;
  }

  /* ukuran gambar */
  img.penduduk_kecil {
    width: auto;
    max-width: 45px;
    height: auto;
    border-radius: 10%;
    margin: 5px 0;
  }

  /* ukuran text card menu pada view umkm  */
  .progress-description, .info-box-text {
    font-size: 12px;
  }

  .peta-judul{
    position: absolute;
    top: 65px;
    left: 65px;
    z-index: 1000;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 10px 20px;
   
  }
  .peta-judul h2{
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
  }

  /* hide text tinymce */
  .tox-promotion{
    display: none;
  }

  .leaflet-sidebar {
    z-index: 1000;
  }

  .leaflet-sidebar .tab-detail-map .list-icon {
    text-align: center;
  }

  .leaflet-sidebar .tab-detail-map ion-icon {
    color: #1a73e8;
  }

  .leaflet-sidebar .tab-detail-map ion-icon {
  --ionicon-stroke-width: 16px;
  }

  .leaflet-sidebar .tab-detail-map ion-icon:hover {
    color: #106ff3;
    --ionicon-stroke-width: 25px;
  }

  .leaflet-sidebar .tab-detail-map .list-icon span{
    position: absolute;
    margin-top: 40px;
    left: 0;
    right: 0;
    font-size: 10px;
    color: #1a73e8;
  }

  .leaflet-sidebar .chat .item>.message {
    margin-left: 40px;
    margin-top: -22px;
  }

  .leaflet-sidebar .chat .item > img {
    border: 2px solid transparent;
    border-radius: unset;
    width: unset;
    height: unset;
  }

  .leaflet-sidebar > .leaflet-control {
    padding: 0px 5px;
    font-size: 11px;
    font-family: 'Rubik', sans-serif;
  }

  .statistik_line {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
  }